.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
}

.checkbox-button {
  background-color: lightgray;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ .checkbox-button {
  background-color: blue;
  color: white;
}

.submit-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.submit-container {
  margin-top: 20px;
}

.submit-btn {
  display: block;
  width: 40%;
  border-radius: 5px;
  background-color: lightgray;
  padding: 14px 28px;
  font-size: 16px;
  text-align: center;
  border: none;
}

.container {
  margin-bottom: 50px;
}
